.benefits-page{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 6.25rem;
}
.benefits-page::before, .benefits-page::after{
    content: "";
    position: absolute;
    top: 6.25rem;
    width: 30%;
    height: calc(100% - 6.25rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.benefits-page::before{
    left: 0;
    background-image: url(../../images/3.png);
}
.benefits-page::after{
    right: 0;
    background-image: url(../../images/1.png);
}
.benefits-page>.content{
    width: calc(100% - 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}
.benefits-page>.content>.order{
    font-size: var(--fs-benefits-order);
    font-weight: 700;
    width: 100%;
}
.benefits-list{
    list-style: none;
    margin: 0;
}
.benefits-list__item{
    font-size: var(--fs-benefits-item);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    padding: 2.25rem 0;
}
.benefits-list__item:not(:last-child){
    border-bottom: 1px solid var(--secondary-color);
}
.benefits-list__item-icon{
    background-image: url(../../images/list/benefit.png);
    background-repeat: no-repeat ;
    background-size: contain;
    height: 55px;
    width: auto;
    aspect-ratio: 1 / 1;
}
.benefits-list__item-benefit{
    margin-left: 1.25rem;
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    .benefits-page::before,
    .benefits-page::after {
        width: 25%;
    }
    .benefits-page>.content{
        padding: 0 1rem;
    }
}
@media screen and (max-width: 992px) {
    .benefits-page::before,
    .benefits-page::after {
        display: none;
    }
    .benefits-page>.content{
        width: 100%;
        padding: 0 1rem;
    }
    .benefits-list__item-icon{
        height: 2.5rem;
    }

}
@media screen and (max-width: 480px) {
    .benefits-list__item-icon{
        height: 1.25rem;
    }
}

