header{
    z-index: 2;
    top: 0;
    height: 5.5rem;
    padding: 1.875rem calc(100vw - 46% - 5.09375rem) 0 10.1875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
header *{
    background-color: inherit;
}
.lorem{
    font-size: 2.25rem;
    font-family: Prata;
}
.topnav>ul{
    display: flex;
}
.topnav>ul>li{
    list-style: none;
    margin-left: 1.8125rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 400;
}
@media screen and (min-width:768px) and (max-width: 1200px) {
    header{
        padding: 1.875rem calc(100vw - 46% - 5.09375rem) 0 5rem;
    }
}
@media screen and (max-width: 768px) {
    header{
        padding: 0.5rem 1rem 0 1rem;
        flex-direction: column;
        height: 6rem;
    }
    .topnav{
        width: 100%;
    }
    .topnav>ul{
        justify-content: space-between;
    }
}